.jindev__possibility {
  display: flex;
  flex-direction: row;
}

.jindev__possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-right: 2rem;
}

.jindev__possibility-image img {
  border-radius: 14px;
  width: 100%;
  height: 100%;
}

.jindev__possibility-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.jindev__possibility-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text);
}
/* 
.jindev__possibility-content h4:last-child {
  color: #ff8a71;
} */

.jindev__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
}

.jindev__possibility-content p {
  color: #71e5ff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
  .jindev__possibility {
    flex-direction: column;
  }

  .jindev__possibility-image {
    margin: 1rem 0;
  }

  .jindev__possibility-image img {
    width: unset;
    height: unset;
  }

  .jindev__possibility-content {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .jindev__possibility-image img {
    width: 100%;
    height: 100%;
  }
}
